
.input-padrao {
    background-color: white;
    border-radius: 2em
}

.main-content{
    overflow-x: hidden;
    max-width: 100vw;
    padding-top: 20em;
    padding-bottom: 18em;
}

.main-text{
    color: var(--main-color-primary)
}

.main-bg {
    background: var(--background)
}

.faq-sec {
    padding: 3em 2em;
}

.botao-wpp {
    position: fixed;
    right: 0.5em;
    bottom: 1em;
    z-index: 1000;
}

.botao-wpp .bi{
    border-radius: 2em;
}


@media screen and (min-width: 768px){
    .botao-wpp{
        position: fixed;
        right: 2em;
        bottom: 5%;
        z-index: 1000;
        
    }

    .botao-wpp .bi {
        font-size: 30px;
    }
    
}

@media screen and (min-width: 1024px) {
    .botao-wpp {
        bottom: 32%;
    }
}

